.scroll-line {
    -webkit-appearance: none;
    width: 599px;
    height: 8px;
    display: block;

    @include gradient-border($gradient-pink, 5px, $color-gray-light, 0.5px);
    background-color: $color-scroll-line;
    border-radius: 5px;
    
    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: max-content;
        height: 7px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 115px;
        height: 7px;
        background-color: $color-orange;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: $color-green;
        }
    }
}