.animals-cards {
    position: relative;
}

.animals-cards__wrapper {
    padding-top: 180px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include small-desktop {
        padding-top: 142px;
        padding-bottom: 140px;
    }

    @include tablet {
        padding-top: 80px;
        padding-bottom: 100px;
    }
}

.animal-cards__animals-scroll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

    position: relative;
    margin-bottom: 80px;

    @include small-desktop {
        row-gap: 92px;
    }

    @include tablet {
        margin-bottom: 60px;
    }
}

.button-left {
    position: absolute;
    top: calc(100% / 2 - 31px);
    left: -81px;

    @include small-desktop {
        left: 323px;
    }

    @include tablet {
        left: 223px;
    }
}

.button-right {
    position: absolute;
    top: calc(100% / 2 - 31px);
    right: -81px;

    @include small-desktop {
        right: 323px;
    }

    @include tablet {
        right: 223px;
    }
}

