.header {
    background-color: $color-black;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    padding: 14px 0;

    @include tablet {
        padding: 2px 0;
        justify-content: space-between;
        align-items: center;
    }
}

.header__navigation {
    width: 472px;
    margin: auto;
    margin-left: 63px;

    @include tablet {
        display: none;
    }
}

.header__designer {
    color: $color-white;
    margin: auto 0;

    @include tablet {
        display: none;
    }
}

@include tablet {
    .header__burger {
        @include image(url("../icons/burger_menu.svg"), auto, auto);
        background-size: cover;
        width: 18px;
        height: 10px;
        content: "";
    }
}