.header {
    background-color: $color-black;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    padding: 14px 0;
}

.header__navigation {
    width: 472px;
    margin: auto;
    margin-left: 63px;
}

.header__designer {
    color: $color-white;
    margin: auto 0;
}