.pick-friend {
    background: $gradient-orange-light;
    opacity: 0.9;
    padding-top: 69px;
    padding-bottom: 100px;

    @include small-desktop {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    @include tablet {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.pick-friend__wrapper {
    background-color: $color-frosted;
    backdrop-filter: blur(2px);
    border-radius: 20px;

    padding: 41px 99px 59px;

    @include small-desktop {
        padding: 30px 49px 50px 40px;
    }

    @include tablet {
        padding: 10px 20px 60px;
    }
}

.pick-friend > .pick-friend__wrapper {
    @include tablet {
        max-width: 640px; 
    }
}

.pick-friend__title {
    width: max-content;
    margin: 0px auto 30px;
    color: $color-orange;

    @include tablet {
        font-size: 4.2rem;
    }
}

.pick-friend__subtitle {
    margin-bottom: 40px;

    @include tablet {
        font-size: 2.2rem;
    }
}

.pick-friend__text-1 {
    margin-bottom: 10px;
}

.pick-friend__text-2 {
    max-width: 863px;
    margin-bottom: 60px;

    @include tablet {
        margin-bottom: 30px;
    }
}

.emergency-support-fund {
    border-bottom: 1px solid $color-orange;
    color: $color-black;
}

.feed-button {
    display: block;
    margin: 0px auto;
}