.pick-friend {
    background: $gradient-orange-light;
    opacity: 0.9;
    padding-top: 69px;
    padding-bottom: 100px;
}

.pick-friend__wrapper {
    background-color: $color-frosted;
    backdrop-filter: blur(2px);
    border-radius: 20px;

    padding: 41px 99px 59px;
}

.pick-friend__title {
    width: max-content;
    margin: 0px auto 30px;
    color: $color-orange;
}

.pick-friend__subtitle {
    margin-bottom: 40px;
}

.pick-friend__text-1 {
    margin-bottom: 10px;
}

.pick-friend__text-2 {
    max-width: 863px;
    margin-bottom: 60px;
}

.emergency-support-fund {
    border-bottom: 1px solid $color-orange;
    color: $color-black;
}

.feed-button {
    display: block;
    margin: 0px auto;
}