.testimonials {
    position: relative;
}

.testimonials__wrapper {
    padding-top: 140px;
    padding-bottom: 172px;

    @include small-desktop {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    @include mobile {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}

.testimonials__title {
    width: max-content;
    margin: 0px auto 47px;

    @include small-desktop {
        margin-bottom: 30px;
    }

    @include mobile {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }
}

.testimonials-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 29px;
    height: 391px;

    @include tablet {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;
    }

    @include mobile {
        margin-bottom: 30px;
    }
}

.testimonials-card {
    width: 268px;
    height: 391px;
    overflow: hidden;
    @include gradient-border($gradient-pink, 20px, $color-gray-light, 2px);

    padding: 15px 15px 19px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    * {
        z-index: 1;
    }

    &:last-child {
        @include small-desktop {
           display: none;
        }
    }

    @include small-desktop {
        width: 293px;
    }

    @include tablet {
        width: 100%;
        height: 109px;
    }
}

.person__image {
    width: 37px;
    height: 37px;
    display: inline-block;
}

.testimonials-card:nth-child(1) .person__image {
    @include image(url("../icons/user_icon.svg"), 37px, 37px);
}

.testimonials-card:nth-child(2) .person__image {
    @include image(url("../images/oscar.png"), 37px, 37px);
}

.testimonials-card:nth-child(3) .person__image {
    @include image(url("../images/frederica.png"), 37px, 37px);
}

.testimonials-card:nth-child(4) .person__image {
    @include image(url("../images/mila.png"), 37px, 37px);
}

.testimonials-card__person-info {
    width: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;

    color: $color-gray-4;
}

.person__name {
    width: 100%;
    color: $color-black;
}

.testimonials-card__comment {
    height: 308px;
    overflow: hidden;
    color: $color-gray;

    @include small-desktop {
        height: 290px;
    }

    @include tablet {
        height: 35px;
    }
}

.scroll-line {
    margin: 21px auto 31px;

    @include tablet {
        display: none;
    }
}

.feedback-button {
    display: block;
    margin: 0px auto;

    @include mobile {
        width: 240px;
    }
}